:root {
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --primary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --section-padding-gap: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin-left: auto;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ======== Шапка сторінки ======== */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  padding-left: 15px;
}

.navigation {
  display: flex;
}

.accent-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.menu,
.contact {
  display: flex;
  align-items: center;
}

.contact-list:not(:last-child),
.menu-list:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/* ========== Герой ============ */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero {
  text-align: center;
  background-color: var(--secondary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-push {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

.hero-push:hover,
.hero-push:focus,
.modal-button:hover,
.modal-button:focus,
.info-footer:hover,
.info-footer:focus,
.info-address:hover,
.info-address:focus {
  background: var(--accent-color);
  color: #ffffff;
}

/* ======= Cильні сторони ========= */

.advantage-section {
  padding-top: var(--section-padding-gap);
  padding-bottom: var(--section-padding-gap);
}

.advantage-list {
  display: flex;
  justify-content: space-between;
}
.advantage-details:not(:last-child) {
  margin-right: 30px;
}

.advantage-details::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-background-color);
}

.advantage-details:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.advantage-details:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.advantage-details:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.advantage-details:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  box-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-text {
  min-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ====== Компетенція працівників і Співробітники ======= */

.teamwork-section {
  padding-bottom: var(--section-padding-gap);
}

.teamwork-list {
  display: flex;
  justify-content: space-between;
}

.teamwork-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-staff {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.staff-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.staff-team-list {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-border-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.work-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-group-section {
  background-color: var(--primary-background-color);
  padding-top: var(--section-padding-gap);
  padding-bottom: var(--section-padding-gap);
}
/* =========== Футер =========== */

.footer {
  text-align: left;
  background-color: var(--secondary-background-color);
  font-family: inherit;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: block;
  padding-left: 15px;
}
.address {
  margin-top: 20px;
}

.accent-logo-white {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  color: #ffffff;
}

.info-list:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 20px;
}

.info-address {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.info-footer {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ========== Портфолiо =========== */

.modal-button {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
}

.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section {
  padding-top: var(--section-padding-gap);
  padding-bottom: var(--section-padding-gap);
}
.menu-button-go:not(:last-child) {
  margin-right: 8px;
}
.menu-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.catalogue {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}
.card-border-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  align-items: left;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.menu-cards-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  align-items: left;
  letter-spacing: 0.03em;
  color: #757575;
}
